html {
  background-color: #364fc6;
}

button {
  cursor: pointer;
}

.container {
  width: 150vh;
  height: 75vh;
  margin: auto;
  padding: 20px 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.container .title {
  display: flex;
  background-color: red;
  width: 31vh;
  height: 6vh;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.container .title > button {
  border: none;
  margin-left: 5px;
  height: 20px;
  align-self: center;
  background: none;
}

.container .title .pagination {
  align-self: center;
}
.container .title .pagination button {
  margin: 0 10px;
  border: none;
  background: none;
  color: white;
}

.container .week {
  display: flex;
  color: white;
}

.container .week .weekday {
  width: calc(150vh / 7);
  text-align: center;
}

.container .week .sunday {
  color: white;
}

.container .week .saturday {
  color: blue;
}

.container .date {
  margin-top: 20px;
}

.container .date .weekday {
  width: calc(150vh / 7);
  float: left;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  color: white;
}

.container .date .sunday {
  color: white;
}

.container .date .saturday {
  color: white;
}
