html {
  background-color: #364fc6;
}

button {
  cursor: pointer;
}

.container {
  width: 56.82vw;
  height: 34.6vw;
  left: 10.6vw;
  top: 12.5vw;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  overflow: hidden;
}

.container .week {
  display: flex;
  color: white;
  font-family: "NotoSans";
  font-weight: 700;
}

.container .week .weekday {
  width: calc(56.82vw / 7);
  text-align: center;
  margin-top: 0.3vw;
  margin-bottom: -2vw;
}

.container .week .sunday {
  color: white;
}

.container .week .saturday {
  color: blue;
}

.container .date {
  margin-top: -0vw;
}

.container .date .weekday {
  width: calc(56.82vw / 7);
  float: left;
  text-align: left;
  height: 13vh;
  line-height: 13vh;
  color: white;
  font-family: "NotoSans";
  font-weight: 700;
}

.container .date .sunday {
  color: white;
}

.container .date .saturday {
  color: white;
}

.line1 {
  width: 56.82vw;
  height: 0.12vw;
  background-color: white;
  margin-top: 2.3vw;
  position: absolute;
}

.line2 {
  width: 56.82vw;
  height: 0.12vw;
  background-color: white;
  margin-top: 8.7vw;
  position: absolute;
}
.line3 {
  width: 56.82vw;
  height: 0.12vw;
  background-color: white;
  margin-top: 15.1vw;
  position: absolute;
}

.line4 {
  width: 56.82vw;
  height: 0.12vw;
  background-color: white;
  margin-top: 21.5vw;
  position: absolute;
}

.line5 {
  width: 56.82vw;
  height: 0.12vw;
  background-color: white;
  margin-top: 27.9vw;
  position: absolute;
}
