@font-face {
  font-family: "NotoSans";
  font-display: fallback;
  src: url("./NotoSans-ExtraBold.ttf") format("truetype"),
    url("./NotoSans-Bold.ttf"), format("woff");
  font-weight: 400;
  font-style: normal;
}
